ORACLE_CLIENT_DIR=C:\\Oracle\\instantclient\\instantclient_23_0
ORACLE_USER=soleitura
ORACLE_PASSWORD=soleitura
ORACLE_DSN=dbprd.7141.cloudmv.com.br:1521/PRD7141.db7141.mv7141vcn.oraclevcn.com

HF_API_URL=https://router.huggingface.co/v1/chat/completions
HF_TOKEN=coloque_seu_token_aqui
HF_MODEL=meta-llama/Meta-Llama-3-8B-Instruct

APP_USERNAME=admin
APP_PASSWORD=admin123
APP_SECRET=change-me
